# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/

# Visual Studio
.vs/
*.VC.db
*.VC.opendb
*.sln
*.suo

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/

# Temporary files
*.tmp
*.temp

# Rider
*.sln.DotSettings.user

# Unreal generated project files
*.opensdf
*.sdf

# Packaging
*.ipa
*.apk

# Crash reports
CrashReportClient/

# Backup
*_BuiltData.uasset